body {
  background-color: #EAF6F6;
}

hr {
  background-color: white;
  border-color: gray;
  border-style: none;
  border-top: dotted;

  border-width: 5px;
  width: 5%;
}

img {
  height: auto;

}

h1 {
  color: #66BFBF;
}
h3 {
  color:  #66BFBF;
}
